[run]                                                                                                                                                                                        
omit =
  *features/*,
  *wsgi.py,
  manage.py
