{% extends "admin/base.html" %}

{% block extrastyle %}
    {% include 'extrastyle_include.html' %}
    <style>
        #header {
            height: auto;
            background: #000000;
        }

        .submit-row p.deletelink-box {
            box-sizing: unset;
        }
    </style>
{% endblock %}

{% block title %}
    {{ site_title|default:_('HotTheWay site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('HostTheWay administration') }}</a>
    </h1>
{% endblock %}

{% block nav-global %}
    {% include "navigator.html" %}
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
