{% extends 'places/w3base.html' %}
{% block content %}
    <form method="post" class="w3-container" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="w3-bar">
            <button onclick="goBack()" class="w3-button w3-bar-item"><i class="fa fa-backward w3-large"></i>
            </button>
            {% if user.is_authenticated %}
                <button type="submit" class="w3-button w3-bar-item"><i class="fa fa-save w3-large"></i>
                </button>
            {% endif %}
        </div>
        <div class="w3-row-padding">
            <div class="w3-threequarter ">
                {{ form.name.errors }}
                {{ form.name.label_tag }}<br>
                {{ form.name }}
            </div>
            <div class="w3-quarter"></div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-threequarter">
                {{ form.description.errors }}
                {{ form.description.label_tag }}<br>
                {{ form.description }}
            </div>
            <div class="w3-quarter">
                {{ form.country.errors }}
                {{ form.country.label_tag }}<br>
                {{ form.country }}
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-threequarter ">
                {{ form.picture.errors }}
                {{ form.picture.label_tag }}<br>
                {{ form.picture }}
            </div>
            <div class="w3-quarter"></div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-threequarter ">
                {{ form.std_price.errors }}
                {{ form.std_price.label_tag }}<br>
                {{ form.std_price }}€
            </div>
            <div class="w3-quarter ">
                {{ form.breakfast_included.errors }}
                {{ form.breakfast_included.label_tag }}<br>
                {{ form.breakfast_included }}
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-threequarter ">
                {{ form.category.errors }}
                {{ form.category.label_tag }}<br>
                {{ form.category }}
            </div>
            <div class="w3-quarter ">
                {{ form.separate_entrance.errors }}
                {{ form.separate_entrance.label_tag }}<br>
                {{ form.separate_entrance }}
            </div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-quarter ">
                {{ form.wifi.errors }}
                {{ form.wifi.label_tag }}<br>
                {{ form.wifi }}
            </div>
            <div class="w3-quarter ">
                {{ form.own_key.errors }}
                {{ form.own_key.label_tag }}<br>
                {{ form.own_key }}
            </div>
            <div class="w3-quarter ">
                {{ form.laundry.errors }}
                {{ form.laundry.label_tag }}<br>
                {{ form.laundry }}
            </div>
            <div class="w3-quarter ">
                {{ form.parking.errors }}
                {{ form.parking.label_tag }}<br>
                {{ form.parking }}
            </div>
        </div>
        <div class="w3-row-padding">
        </div>
    </form>
{% endblock %}