{% extends 'base.html' %}
{% block content %}
    <div class="hosttheway-color-two w3-container">
        <div class="w3-bar">
            <button onclick="goBack()" class="w3-button w3-bar-item" id="id_create_place_go_back" type="reset">
                    <i class="fa fa-backward w3-large"></i>
            </button>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="w3-panel w3-center">
                <h4>Admins</h4>
            </div>
            <table class="w3-table w3-bordered" id="id_room_place_table">
                <tr class="hosttheway-color-two">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.id }}</td>
                        <td>{{ admin.screen_name }}</td>
                        <td>{{ admin.email }}</td>
                        <td><a href="{% url 'traveller:create-user' pk=admin.id place_id=place_id %}"
                               class="w3-button w3-bar-item"
                               id="id_edit_place_admin_{{ admin.id }}"><i
                                class="fa fa-save w3-large"></i></a></td>
                        <td><a href="{% url 'traveller:create-user' pk=admin.id place_id=place_id %}"
                               class="w3-button w3-bar-item"
                               id="id_delete_place_admin_{{ admin.id }}"><i
                                class="fa fa-times w3-text-red w3-large"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
            {% if user.is_authenticated %}
                <div class="w3-bar">
                    <button type="submit" class="w3-button w3-bar-item" id="id_create_place_submit"><i
                            class="fa fa-save w3-large"></i>
                    </button>
                </div>
            {% endif %}
            {% for field in form %}
                {% cycle '<div class="w3-row-padding">' '' %}

                <div class="w3-half ">
                    {{ field.errors }}
                    {{ field.label_tag }}<br>
                    {{ field }}
                </div>
                {% cycle '' '</div>' %}
            {% endfor %}
            <div class="w3-panel w3-center">
                <h4>Prices</h4>
            </div>
            <table class="w3-table w3-bordered" id="id_price_place_table">
                <tr class="hosttheway-color-two">
                    <th>Category</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for price in prices %}
                    <tr>
                        <td>{{ price.get_category_display }}</td>
                        <td>{{ price.value }} {{ place.currency }}</td>
                        <td>{{ price.description }}</td>
                        <td><a href="{% url 'places:update-price' pk=price.id %}" class="w3-button w3-bar-item"
                               id="id_edit_place_price_{{ price.id }}"><i
                                class="fa fa-save w3-large"></i></a></td>
                        <td><a href="{% url 'places:delete-price' pk=price.id %}" class="w3-button w3-bar-item"
                               id="id_delete_place_price_{{ price.id }}"><i
                                class="fa fa-times w3-text-red w3-large"></i></a></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="w3-panel w3-center">
                <h4>Room Info</h4>
            </div>
            <table class="w3-table w3-bordered" id="id_room_place_table">
                <tr class="hosttheway-color-two">
                    <th>Id</th>
                    <th>Number</th>
                    <th>Price</th>
                    <th>#Beds</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.room_number }}</td>
                        <td>{{ room.price_per_person }} {{ place.currency }}</td>
                        <td>{{ room.beds }}</td>
                        <td><a href="{% url 'places:update-room' pk=room.id %}" class="w3-button w3-bar-item"
                               id="id_edit_place_room_{{ room.id }}"><i
                                class="fa fa-save w3-large"></i></a></td>
                        <td><a href="{% url 'places:delete-room' pk=room.id %}" class="w3-button w3-bar-item"
                               id="id_delete_place_room_{{ room.id }}"><i
                                class="fa fa-times w3-text-red w3-large"></i></a></td>
                    </tr>
                {% endfor %}
            </table>

        </form>
    </div>
{% endblock %}
