{% extends 'places/w3base.html' %}
{% block content %}
    {% load static %}
    {% load leaflet_tags %}

    <div class="w3-bar">
        <a href="#" onclick="goBack()" class="w3-button w3-bar-item"><i
                class="fa fa-backward w3-large"></i></a>
        {% if user.is_authenticated %}
            <a href="{% url 'places:create-user' place_id=place.id %}" class="w3-button w3-bar-item"><i
                    class="fas fa-plus w3-large w3-text-green"></i> admin</a>
            <a href="{% url 'places:create-room' place=place.id %}" class="w3-button w3-bar-item"><i
                    class="fas fa-plus w3-large w3-text-green"></i> room</a>
            <a href="{% url 'places:create-price' place=place.id %}" class="w3-button w3-bar-item"><i
                    class="fas fa-plus w3-large w3-text-green"></i> price</a>
            <a href="{% url 'places:update-place' pk=place.id %}" class="w3-button w3-bar-item"><i
                    class="fas fa-edit w3-large w3-text-green"></i> place</a>
        {% endif %}
    </div>



    <div class="w3-panel w3-center w3-amber">
        <h3>{{ place.name }}</h3>
    </div>
    <div class="w3-row-padding">
        <div class="w3-container w3-third w3-center">

            <img src="/places/static/img/{{ place.picture }}" alt="Picture" style="max-height: 300px; width: 100%">

        </div>
        <div class="w3-third w3-padding">
            <div class="w3-bar">
                {{ place.generated_description }}
            </div>
            <div class="w3-bar">

                <i class="fa fa-bed w3-large w3-bar-item">  {{ place.beds }}</i>
                {% if place.private_bathroom %}
                    <i class="fas fa-bath w3-large w3-bar-item"></i>
                {% endif %}

                {% if place.smoking %}
                    <i class="fas fa-smoking w3-large w3-bar-item w3-text-green"></i>
                {% else %}
                    <i class="fas fa-smoking-ban w3-large w3-bar-item w3-text-red"></i>
                {% endif %}
                <i class="fas fa-coffee w3-large w3-bar-item w3-text-brown">{{ place.meals }}</i>
                {% if place.wifi %}
                    <i class="fas fa-wifi w3-latge w3-bar-item w3-text-blue"></i>
                {% else %}
                    <div class="w3-bar-item>">No WiFi</div>
                {% endif %}
            </div>
            <div class="w3-container">
                Price per person:
                {% if place.price_low == place.price_high %}
                    {{ place.price_low.normalize }} {{ place.currency }}
                {% else %}
                    {{ place.price_low.normalize }} - {{ place.price_high.normalize }} {{ place.currency }}
                {% endif %}
            </div>
        </div>
        <div class="w3-container w3-third">
            {% leaflet_map "detail_map" callback="window.map_init_place" %}
        </div>
        <div class="w3-panel w3-center">
            <h4>Prices</h4>
        </div>
        <table class="w3-table w3-bordered">
            <tr class="w3-amber">
                <th>Category</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            {% for price in place.price_set.all %}
                <tr>
                    <td>{{ price.get_category_display }}</td>
                    <td>{{ price.value }} {{ place.currency }}</td>
                    <td>{{ price.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}