{% extends 'base.html' %}
{% block content %}
    <div class="w3-panel hosttheway-color-one w3-center hosttheway-text-color-one" id="id_welcome_place_list">
        {% if user.is_authenticated %}
            <h6>
                Hi {{ user.screen_name }}!
                {% if user.is_worker or user.is_staff %}
                    Ready to add another place?</h6>
                    <a href="{% url 'places:create-place' %}" class="w3-button" id="id_create_place"><i
                            class="fas fa-plus w3-large hosttheway-text-color-one"></i>
                    </a>
                {% else %}
                    </h6>
                {% endif %}
        {% else %}
            <h6>
                Places in your neighbourhood:
            </h6>
        {% endif %}
    </div>
    {% include 'places/place_list_include.html' %}
{% endblock %}