{% extends 'places/w3base.html' %}
{% block content %}
    {% load static %}
    <div class="w3-modal-content">
        <div class="w3-amber">
            <h2>Dear host,</h2>
        </div>
        <div class="w3-light-blue">
            <p>we welcome you to <a href="www.hostthewway.com">www.hosttheway.com</a>! we are a non -profit organization
                that was created for the benfit of inviduals not large cooperations. That means <i>you get 100% of the
                    money you chharge your guests</i> - we take no fees or commission. The purpose of our company
                is to connect travellers with the authentic locals.
                <!-- todo: rest of the introduction text-->
            </p>
        </div>
    </div>

{% endblock %}