{% load leaflet_tags %}
<div class="w3-row w3-center" id="id_place_list">
    {% for place in places %}
        {% if forloop.counter == 1 %}
            {% include 'places/place_card_include.html' with card_color="w3-light-blue" %}
        {% elif forloop.counter == 2 %}
            {% include 'places/place_card_include.html' with card_color="w3-grey" %}
            <div class="w3-col s12 m4 w3-light-blue w3-margin-bottom w3-hide-large">
                {% leaflet_map "yourmap" callback="window.map_init_basic" %}
            </div>
        {% elif forloop.counter == 3 or forloop.counter == 6 %}
            {% include 'places/place_card_include.html' with card_color="w3-khaki" %}
        {% elif forloop.counter == 5 or forloop.counter == 8 %}
            {% include 'places/place_card_include.html' with card_color="w3-khaki" %}
        {% else %}
            {% include 'places/place_card_include.html' with card_color="w3-lime" %}
        {% endif %}
    {% endfor %}
</div>