{% load l10n static leaflet_tags i18n %}
<div class="w3-panel w3-center hosttheway-color-two" id="id_place_detail_name">
    <h3>{{ place.name }}</h3>
</div>
<div class="w3-row-padding" id="id_place_detail_info">
    <div class="w3-container w3-third w3-center">
        <img src="{% static 'img/' %}{{ place.picture }}" alt="Picture"
             style="max-height: 300px; width: 100%">
    </div>
    <div class="w3-third w3-padding w3-container">
        <div class="w3-section">
            <div class="w3-block w3-sectionr">
                {{ place.generated_description }}
            </div>
            {% if place.pick_up_service %}
                <div class="w3-block w3-sectionr">
                    <p>{% trans 'Pickup service' %}</p>
                </div>
            {% endif %}
            <div class="w3-block w3-section">
                {% include 'places/place_symbol_section_include.html' %}
            </div>
            <div class="w3-block w3-section">
                Price per person:
                {% if place.price_low == place.price_high %}
                    {{ place.price_low.normalize }} {{ place.currency }}
                {% else %}
                    {{ place.price_low.normalize }} - {{ place.price_high.normalize }} {{ place.currency }}
                {% endif %}
            </div>
            <button onclick="
            document.getElementById('id_book_email_modal').style.display='block';
            document.getElementById('id_leaflet_map').style.display='none';"
                    class="w3-button w3-block w3-section w3-padding hosttheway-color-two" id="id_book_place">Book Place
            </button>
        </div>
    </div>

    <div id="id_book_email_modal" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom hosttheway-color-one w3-border" style="max-width:600px">
            <div class="w3-center"><br>
                <span onclick="document.getElementById('id_book_email_modal').style.display='none';
                    document.getElementById('id_leaflet_map').style.display='block';"
                      class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>

            </div>
            <form id="id_book_email_form" class="w3-container">
                <div class="w3-section">
                    <label for="id_book_email_to">{% trans "To:" %}</label>
                    <input id="id_book_email_to" type="email" value="{{ place.email }}" readonly
                           class="w3-input w3-border">
                    <label for="id_book_email_from">{% trans "Your Email:" %}</label>
                    {% if user.is_authenticated %}
                        <input id="id_book_email_from" type="email" class="w3-input w3-border w3-margin-bottom"
                               readonly value="{{ user.email }}">
                    {% else %}
                        <input id="id_book_email_from" type="email" class="w3-input w3-border w3-margin-bottom"
                               required>
                    {% endif %}
                    <label for="id_book_email_message">Message:</label>
                    <input class="w3-input w3-border" type="text" id="id_book_email_message"
                           placeholder="{% trans 'Do you have vacancies' %}">
                    <button class="w3-button w3-block w3-pale-green w3-section w3-padding" type="submit">Send</button>

                </div>
            </form>
            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id_book_email_modal').style.display='none';
                document.getElementById('id_leaflet_map').style.display='block';" type="button"
                        class="w3-button hosttheway-color-two">Cancel
                </button>
                <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
            </div>
        </div>
    </div>
    <div class="w3-container w3-third" id="id_leaflet_map">
        {% leaflet_map "detail_map" callback="window.map_init_place" settings_overrides='' %}
    </div>
    <div class="w3-panel w3-center">
        <h4>Prices</h4>
    </div>
    <table class="w3-table w3-bordered">
        <tr class="hosttheway-color-two">
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        {% for price in place.price_set.all %}
            <tr>
                <td>{{ price.get_category_display }}</td>
                <td>{{ price.value }} {{ place.currency }}</td>
                <td>{{ price.description }}</td>
            </tr>
        {% endfor %}
    </table>
</div>