{% load static %}
<a href="{% url 'places:detail' place.id %}">
    <div class="w3-col s6 m4 l3 w3-margin-bottom w3-leftbar w3-rightbar w3-border-black
        {{ card_color|default:"w3-light-blue" }}" style="min-height: 300px">
        <div id="id_place_card_{{ place.id }}">
            <br>
            <h8>{{ place.name }}</h8>
            <div class="w3-center w3-padding">
                <img class="w3-image"
                     src="{% get_media_prefix %}{{ place.picture }}"
                     alt="'Picture of the Place'">
            </div>
            <div class="w3-container w3-center w3-padding">
                {% if place.private_bathroom %}
                    <i class="fas fa-bath w3-large"> </i>
                {% endif %}
                <i class="fa fa-bed w3-large">{{ place.beds }}</i>
                <!-- not in the overview
                {% if place.smoking == 1 %}
                    <i class="fas fa-smoking w3-large w3-text-green"></i>
                {% else %}
                    <i class="fas fa-smoking-ban w3-large w3-text-red"></i>
                {% endif %}
                {% if place.wifi %}
                    <i class="fas fa-wifi w3-latge w3-text-blue"></i>
                {% else %}
                    <p>No WiFi</p>
                {% endif %}
                -->
                <i class="fas fa-coffee w3-large w3-text-brown">{{ place.meals }}</i>
            </div>
        </div>
    </div>
</a>