{% load static %}
<a href="{% url 'places:detail' place.id %}">
    <div class="w3-col s6 m4 l3 w3-margin-bottom w3-leftbar w3-rightbar w3-border-black
        {{ card_color|default:"hosttheway-color-l-two" }}" style="min-height: 300px">
        <div id="id_place_card_{{ place.id }}">
            <br>
            <h8>{{ place.name }}</h8>
            <div class="w3-center w3-padding">
                <img class="w3-image"
                     src="{% static 'img/' %}{{ place.picture }}"
                     alt="'Picture of the Place'">
            </div>
            <div class="w3-container w3-center w3-padding">
                {% include 'places/place_symbol_section_include.html' %}
            </div>
        </div>
    </div>
</a>