{% load l10n static i18n %}
<div class="w3-bar" id="id_place_detail_bar">
    <a href="#" onclick="goBack()" class="w3-button w3-bar-item"><i
            class="fa fa-backward w3-large"></i></a>
    {% if user.is_authenticated %}
        <a href="{% url 'traveller:register-user' place_id=place.id %}" id="id_detail_action_register"
           class="w3-button w3-bar-item"><i class="fas fa-plus w3-large w3-text-green"></i> admin</a>
        <a href="{% url 'places:create-room' place=place.id %}" class="w3-button w3-bar-item"
           id="id_detail_action_create_room">
            <i class="fas fa-plus w3-large w3-text-green"></i> room</a>
        <a href="{% url 'places:create-price' place=place.id %}" class="w3-button w3-bar-item"
           id="id_detail_action_create_price">
            <i class="fas fa-plus w3-large w3-text-green"></i> price</a>
        <a href="{% url 'places:update-place' pk=place.id %}" class="w3-button w3-bar-item"
           id="id_detail_action_update_place">
            <i class="fas fa-edit w3-large w3-text-green"></i> place</a>
        <a href="{% url 'places:update-place-address' pk=place.id %}" class="w3-button w3-bar-item"
           id="id_detail_action_update_place_address">
            <i class="fas fa-edit w3-large w3-text-green"></i> address</a>
    {% endif %}
</div>