<a href="{% url 'places:detail' place.id %}">
    <div class="w3-col s6 m4 l3 w3-card w3-round-large {{ card_color|default:"w3-blue" }}"
         style="min-height: 300px">
        <!-- todo: all overview information in the card-->
        <div>
            <div class="w3-container w3-center">
                <h8>{{ place.name }}</h8>
            </div>
            <div class="w3-center">
                <img class="w3-image"
                     src="static/img/{{ place.picture }}"
                     alt="'Picture of the Place'">
            </div>
            <div class="w3-container w3-center">
                {% if place.private_bathroom == 1 %}
                    <i class="fas fa-bath w3-large"> private {{ place.bathrooms }}</i>
                {% else %}
                    <i class="fas fa-bath w3-large">{{ place.bathrooms }}</i>
                {% endif %}
                <i class="fa fa-bed w3-large">{{ place.beds }}</i>
                {% if place.smoking == 1 %}
                    <i class="fas fa-smoking w3-large w3-text-green"></i>
                {% else %}
                    <i class="fas fa-smoking-ban w3-large w3-text-red"></i>
                {% endif %}
                <i class="fas fa-coffee w3-large w3-text-brown">{{ place.meals }}</i>
                {% if place.wifi %}
                    <i class="fas fa-wifi w3-latge w3-text-blue"></i>
                {% else %}
                    <p>No WiFi</p>
                {% endif %}
            </div>
        </div>
    </div>
</a>