<!DOCTYPE html>
<html>
<title>HOST THE WAY</title>
{% load pwa %}
{% load static %}
{% load leaflet_tags %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- todo: use pwa functionality-->
    {% progressive_web_app_meta %}

    <link rel="stylesheet" type="text/css" href="{% static 'places/style.css' %}">

    {% leaflet_css %}

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% leaflet_js %}

</head>

<body>
<header class="w3-container">
    <form class="w3-bar w3-light-grey">
        <!-- todo: implement dropdown menue-->
        <div class="w3-dropdown-hover">
            <button class="w3-button "><i class="fa fa-bars"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button">Link 1</a>
                <a href="#" class="w3-bar-item w3-button">Link 2</a>
                <a href="#" class="w3-bar-item w3-button">Link 3</a>
            </div>
        </div>
        <!-- todo: implement search functionality-->
        <input type="text" class="w3-bar-item w3-input w3-button w3-center" placeholder="Search..">
        <a href="{% url 'places:index' %}" class="w3-bar-item w3-button  w3-right"><i class="fa fa-home"></i></a>
    </form>

    <!-- todo: representative design for the funny header -->
    <div class="w3-panel w3-center">
        <div class="w3-tag w3-tiny w3-red">H</div>
        <div class="w3-tag w3-tiny w3-light-blue">O</div>
        <div class="w3-tag w3-tiny w3-lime">S</div>
        <div class="w3-tag w3-tiny w3-blue">T</div>
        <div class="w3-tag w3-tiny w3-grey">*</div>
        <div class="w3-tag w3-tiny w3-brown">T</div>
        <div class="w3-tag w3-tiny w3-orange">H</div>
        <div class="w3-tag w3-tiny w3-light-blue">E</div>
        <div class="w3-tag w3-tiny w3-grey">*</div>
        <div class="w3-tag w3-tiny w3-lime">W</div>
        <div class="w3-tag w3-tiny w3-orange">A</div>
        <div class="w3-tag w3-tiny w3-light-blue">Y</div>
    </div>
</header>
<div id="content" class="w3-light-grey">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
