<!DOCTYPE html>
<html>
<title>HOST THE WAY</title>
{% load pwa %}
{% load static %}
{% load leaflet_tags %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% progressive_web_app_meta %}
    <link rel="stylesheet" type="text/css" href="{% static 'places/style.css' %}">
    {% leaflet_css %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% leaflet_js %}
    <style>
        body, h1, h2, h3, h4, h5, h6, h7, h8 {
            font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px
        }
    </style>
</head>

<body>
<header>
    <!-- Top menu -->
    <div class="w3-top">

        <div class="w3-bar w3-black w3-xlarge" style="margin:auto">
            <a href="#" class="w3-bar-item w3-button">
                <div class="w3-padding-16"><i class="fa fa-cog"></i></div>
            </a>
            {% if user.is_authenticated %}
                <a href="/admin/logout/?next=/places/" class="w3-bar-item w3-button">
                    <div class="w3-padding-16"><i class="fa fa-key w3-text-green"></i></div>
                </a>
            {% else %}
                <a href="/admin/login/?next=/places/" class="w3-bar-item w3-button">
                    <div class="w3-padding-16"><i class="fa fa-key w3-text-grey"></i></div>
                </a>
            {% endif %}
            <a href="#" class="w3-bar-item w3-button">
                <div class="w3-padding-16"><i class="fa fa-search w3-text-grey"></i></div>
            </a>
            <a href="{% url 'places:intro' %}" class="w3-bar-item w3-button">
                <div class="w3-padding-16"><i class="fa fa-info"></i></div>
            </a>
            <a href="{% url 'places:index' %}" class="w3-bar-item w3-button w3-right">
                <div class="w3-padding-16"><i class="fa fa-home"></i></div>
            </a>
            <div class="w3-panel w3-center">
                <div class="w3-tag w3-tiny w3-red">H</div>
                <div class="w3-tag w3-tiny w3-light-blue">O</div>
                <div class="w3-tag w3-tiny w3-lime">S</div>
                <div class="w3-tag w3-tiny w3-blue">T</div>
                <div class="w3-tag w3-tiny w3-grey">*</div>
                <div class="w3-tag w3-tiny w3-brown">T</div>
                <div class="w3-tag w3-tiny w3-orange">H</div>
                <div class="w3-tag w3-tiny w3-light-blue">E</div>
                <div class="w3-tag w3-tiny w3-grey">*</div>
                <div class="w3-hide-large w3-hide-medium"></div>
                <div class="w3-tag w3-tiny w3-lime">W</div>
                <div class="w3-tag w3-tiny w3-amber">A</div>
                <div class="w3-tag w3-tiny w3-light-blue">Y</div>
            </div>

        </div>
    </div>
</header>
<div class="w3-main w3-padding w3-content" style="margin-top:170px">
    {% block content %}
    {% endblock %}
</div>
<script type="text/javascript">
    function map_init_basic(map, options) {
        map.on('locationfound', onLocationFound);
        map.on('locationerror', onLocationError);
        map.locate({setView: true, maxZoom: 16});

        function onLocationFound(e) {
            var radius = e.accuracy / 2;

            L.marker(e.latlng).addTo(map)
                .bindPopup("You are within " + radius + " meters from this point").openPopup();

            L.circle(e.latlng, radius).addTo(map);
        }

        function onLocationError(e) {
            <!--alert(e.message);-->
        }
    }
    function goBack() {
        window.history.back();
    }
</script>
<footer class="w3-bar w3-b0ttom">
    <div class="w3-padding-16 w3-bar-item"><i class="fa fa-copyright"></i> christoph.buchetmann</div>
</footer>
</body>
</html>
