{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load leaflet_tags %}
    <div class="bgimg w3-display-container hosttheway-color-two"
         style="min-height: 550px" id="id_welcome_worker">
        {% if  user.is_authenticated %}
            <div class="w3-display-topleft w3-padding">
                <h4>
                    Hi {{ user.screen_name }}, ready to add another place?
                </h4>
            </div>
            <div class="w3-display-left w3-padding">
                <div class="w3-container  hosttheway-color-two">
                    <h4><i class="fa fa-bed w3-margin-right"></i>Add a place
                        <a href="{% url 'places:create-place' %}" class="w3-button" id="id_create_place"><i
                                class="fas fa-plus w3-large w3-text-green"></i>
                        </a>
                    </h4>

                </div>
                <br>
                <div class="w3-container  hosttheway-color-two">
                    <h4><i class="fa fa-search w3-margin-right"></i>See my places
                        <a href="{% url 'places:index' %}" class="w3-button" id="id_create_place"><i
                                class="fas fa-plus w3-large w3-text-green"></i>
                        </a>
                    </h4>

                </div>
            </div>


        {% endif %}
    </div>
{% endblock %}