{% load static %}
<div class="w3-modal-content">
    <div class="w3-khaki  w3-padding">
        <h2>Dear host, <a href="{% url 'places:index' %}">... let's start!</a></h2>
    </div>
    <div class="w3-light-blue  w3-padding">
        <p>We welcome you to <a href="http://www.hosttheway.com">www.hosttheway.com</a>! we are a non-profit
            organization that was created for the benfit of inviduals not large cooperation. That means
            <i>you get 100% of the money you charge your guests</i> - we take no fees or commission. The purpose of
            our company is to connect travellers with the authentic locals. We made the company wuth two things
            in mind: to benefit the traveller with a true cultural experience and to put money in the hands of
            people who need it most.
        </p>
        <p>
            Our principal advertising campaign in the first stages of our company will be the word of mouth.
            Regarding that, it is important that each guest you host receives an authentic cultural and
            culinary experience.
        </p>
        <p>
            The volunteer that is signing up your home does this with the true sprit of travelling at heart and
            your future benefit in mind. Therefore we kindly ask you to give them <i>a place to spend the night
            as well as a warm meal</i> to honor their effort. This will also give you the time to answer the
            questionnaire and help us to get to know you and your home.
        </p>
    </div>
    <div class="w3-center w3-light-blue w3-padding">
        <video width="400" controls>
            <source src="{% static 'img/' %}test.m4v" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <p>
            Welcome video.
        </p>
    </div>
    <div class="w3-light-blue w3-center w3-padding">
        <p>
            We are excited to work with you and are looking foreward to building a unique hosting platform. If you
            have any questions, concerns or suggestions - feel free to contatct us via email <b>(still hidden)</b>.
        </p>
        <p>Best regards,</p>
        <p><i>your hosttheway team</i></p>
    </div>
    <div class="w3-khaki w3-padding">
        <h2>How does it work?</h2>
    </div>
    <div class="w3-light-blue w3-padding">
        <ul>
            <li style="font-size: 1em">We will put up your listing on our homepage including a detailed description and
                photos of
                your house
            </li>
            <li style="font-size: 1em">
                Travellers will contact you via email
            </li>
            <li style="font-size: 1em">
                You will be paid in cash by the travellers upon their arrival
            </li>
            <li style="font-size: 1em">
                If you no longer want to participate, please inform us via email and we will take your listing off
                the page
            </li>
            <li style="font-size: 1em">
                We take no liability for the travellers or the hosts
            </li>
            <li style="font-size: 1em">
                <a href="{% url 'places:index' %}">... let's start!</a>
            </li>
        </ul>
    </div>
</div>
